body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-self: center;
    min-height: 120vh;
    background-color: rgb(222, 233, 203);
    font-size: larger;
}
.registration-container{
    background-color: rgb(231, 164, 164);
    padding: 30px;
    border-radius:10px;
    width: 400px;
    height: 500px;
    text-align:center;
}
form{
    display:grid;
    gap:10px
}
label{
    display: block;
    font-weight: bold;
}
input{
    width: 100%;
    padding: 8px;
    border: 1px solid black;
    border-radius: 20px;
}
button{
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width:30vh;
   

}
button:hover {
    background-color: #0056b3;
} 
